#schaakbord {
    width: 508px;
    border: 2px solid black;
    height: 508px;
}

.wit {
    width: 60px;
    height: 60px;
    display: inline-block;
    background-color: rgb(170, 0, 164);
}

.zwart {
    width: 60px;
    height: 60px;
    display: inline-block;
    background-color: rgb(255, 127, 238);
}